$colorPink: #FF3E79;
$colorRed: #fd1259;
$colorLine: #41F6D7;
$pageBackgound:#F8F8F8;
$textColor:#7e7e82;
$borderMain:#B8FFEC;
$borderAdditional:#eaeaea;
$liBackground:aliceblue;
$defaultBackground:#ffffff;
$defaultTextColor:black;
$visitedLink:burlywood;

$paginationDefault :#DDDDDD;
$paginationActive :#B5B6BC;

$globalFont:'TT Lakes Regular','sans-serif';
$MediunFont:'TT Lakes Medium';
$BoldFont:'TT Lakes Bold';

$widthTelephone:768px;
$widthTable:1199.98px;
$widthTelephoneModal:769px;
$widthTableStart:1120px;
$widthDesktop:1440px;