html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
body{
    color: $defaultTextColor;
    margin: 0;
    background-color: $pageBackgound;
    font-family: $globalFont;
    font-size: 16px;
}
.container{
  width: 89%;
  margin: 0 auto;

  &.menu-aside {
    padding-left: 16px;
    margin-top: 32px;
    position: relative;
    height: 83vh;
}

}

@media (min-width: $widthTelephone) { 
  .page{
      display: flex;
  }

  
}

